<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ title }}</title>
	<link rel="stylesheet" href="/assets/utaustyle.css">
	<meta charset="UTF-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+JP:wght@100..900&display=swap');
</style>
</head>
<header>sinigang.neocities.org/utau</header>
<nav>
    <a href="/utau.html">Home</a>
    <a href="/utau/vb.html">Voicebank</a>
    <a href="/utau/tou.html">Terms of Use</a>
    <a href="/utau/resources.html">Resources</a>
    <a href="/utau/extra.html">Extra</a>
    <a href="/">back to main</a>
</nav>
<main>
    {% block content %}{% endblock %}
</main>
	<footer>
		by Fire 2020 - ∞ | <a href="#">Top</a> | <a href="https://github.com/FireFlows/sinigang">GitHub repo</a> 
		<br>Page last updated: <span id="lu"></span><br>
		Site last updated: <span id="wlu"></span>
	</footer>
<script src="/assets/js/footer.js"></script>
</body>
</html>