body, html {
    padding: 0;
    margin: 0;
    height: 80%;
    background-color: white;
    color: #000;
    font-family: Calibri, Arial, sans-serif;
    box-sizing: border-box;
}

.page h1:first-child {
    margin-top: 0;
}

iframe {
    border: none;
    height: 100%;
    width: 100%;
}

.page {
    background-color: white;
    padding: 24px;
}

img {
    max-width: 100%;
}

a {
    color: purple;
}

.avatar {
    width: 200px;
    height: 200px;
    border: 4px solid purple;
}

.wrapper {
    position: relative;
    top: 50%;
    margin: auto;
    margin-top: -200px;
    width: 850px;
    height: 400px;
}

.sidebar {
    float: left;
    width: 200px;
    height: 180%;
}

.main {
    float: right;
    width: 630px;
    height: 180%;
    border: 3px double purple;
    box-sizing: border-box;
}

.menu {
    padding: 24px;
    text-align: center;
}

.menu a {
    display: inline-block;
    padding: 3px 6px;
    color: purple;
    margin-bottom: 6px;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.menu a:hover {
    background: purple;
    color: #FFF;
}

h1, h2, h3, h4 {
    color: purple;
}
li {
  color: purple; /* bullet color */
}
li span {
  color: black; /* text color */
}

h1 {
    font-size: 20px;
    background: purple;
    color: #FFF;
    display: inline-block;
    padding: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    border-bottom: 1px dashed purple;
    padding-bottom: 4px;
    margin-top: 2rem;
}

.border {
    padding: 2px;
    border: 1px solid purple;
}

th, td {
    padding: 6px 12px;
    vertical-align: top;
}

th {
    background: purple;
    color: black;
}

.width-50 {
    width: 50%;
}