body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
}
html {
    padding-left:12rem;
    font-family: Calibri, Arial, sans-serif;
    font-size: 16.5px;
    color: rgb(69, 0, 69);
    background-color:#faf9f6

}   
.leftAside {
    grid-row: span 6 / span 6;
    border: 5px solid black;
}
main, .leftAside, .rightAside{
    background-color: #faf9f6;
    border: 5px solid rgb(69, 0, 69);
    box-shadow: 10px 10px rgb(69, 0, 69);

}
nav .active {
    background-color: rgb(69, 0, 69);
    color: white;
}
aside {
    text-align:center;
}
main {
    grid-column: span 3 / span 3;
    grid-row: span 6 / span 6;
 }
 .center{
    padding:1rem;
 }
a:hover {
    background-color: rgb(244, 255, 83);
}
.rightAside {
    grid-row: span 6 / span 6;
    grid-column-start: 5;
}
h1 {
    margin-bottom:5px;
    padding-left:1rem;
    padding-top:20px;
    line-height:40px;
    padding-bottom:12px;
}

h2 {
    letter-spacing: 1px;
    font-size: 20px;
    border-bottom: 1px solid rgb(69, 0, 69);
    padding-bottom: 4px;
    margin-top: 1rem;
}

nav {
    font-weight:500;
    padding-top: .75rem;
    padding-bottom:.75rem;
    border-bottom: 4px solid rgb(69, 0, 69);
    border-top: 4px solid rgb(69, 0, 69);
}

nav a {
    color: rgb(69, 0, 69);
    text-decoration: none;
    padding:.75rem;
}

nav a:hover {
    color:white;
    background-color:rgb(69, 0, 69)
}  

.showmobile {
    display:none;
}
li {
    line-height:22px;
}
img {
     max-width:100%;
     max-height:100%;
}
a {
    color:purple;
}
.gallery {
    display:grid;
    grid-template-columns: 150px 150px 150px;
    gap:10px;
}
.frame {
    max-height:150px;
    max-width:150px;
    border: 2px solid rgb(69, 0, 69);
}

@media only screen and (max-width: 800px) {
    html {
        padding:0px;
        margin:0px;
        width:100%;
    }
    nav {
        padding:0px;
        margin:0px;
        display:flex;
        flex-direction:row;
    }
   body {
    padding:0px;
    margin:0px;
    display: flex;
    flex-direction:column;
    }
    main {
        border:none;
        width:100%;
        height:auto;
        max-height:none;
        overflow: visible;
        box-shadow: none;

    }
    .showmobile {
    display:inline;
    }
    .avatar, .nomobile, .leftAside, .rightAside {
    display:none;
    }
}