main {
    float: right;
    width: 75%;
    height: 180%;
    max-height: 180%;
    overflow: scroll;
    border: 4px solid purple;
    box-sizing: border-box;
    background-color: #FAF9F6;
    padding: 24px;
    box-shadow: 10px 10px purple;
    
}

body, html {
    height: 65%;
    font-size: 16.5px;
    color: rgb(69, 0, 69);
    font-family: Calibri, Arial, sans-serif;
    box-sizing: border-box;
    line-height: 23px;
}
html {
    background-color:rgb(244, 244, 244);
}
img {
    max-width: 100%;
}

a {
    color: purple;
}

.avatar {
    width: 100%;
    height:32.825%;
}
aside, nav {
    background-color:#FAF9F6;
    text-align: center;
    float: left;
    width: 23.5%;
    border: 4px solid purple;
    box-shadow: 5px 5px purple;

}

.wrapper {
    position: relative;
    top: 50%;
    margin:auto;
    margin-top: -200px;
    width: 65%;
    height: 75%;
}

.menu {
    padding: 12px;
    text-align: center;
}

/*aesthetics*/

.menu a {
    display: inline-block;
    padding: 5px 5px;
    color: purple;
    margin-bottom: 6px;
    text-decoration: none;
    font-weight: 500px;
    font-size: 18px;
    text-transform:uppercase;
    letter-spacing: 1px;

}

.menu a:hover, .active {
    background: purple;
    color: #FAF9F6;
}

h1, h2, h3, h4 {
    color: purple;
}
li, details {
  color: purple; 
}
li span, summary span {
  color: rgb(69, 0, 69);; 
}

h1 {
    font-size: 23px;
    background: purple;
    color: #FAF9F6;
    display: inline-block;
    padding: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    border-bottom: 1px dashed purple;
    padding-bottom: 4px;
    margin-top: 2rem;
}

th, td {
    padding: 6px 12px;
    vertical-align: top;
}
td {
    width:130px;
}

th {
    background: purple;
    color: black;
}
.showmobile {
    display:none;
}
@media screen and (max-width: 800px) {
    main {
        width:100%;
        height:auto;
        max-height:none;
        overflow: visible;
    }
  .wrapper {
    position:absolute;
    width: 100%;
    margin:0px;
    top:0%;
    height: 100%;

  }
  nav, .menu, .aside { /*Please keep ".aside" in because you want a second bar to the right later don't you.*/
    display: flex;
    top: 0;
    justify-content:center;
    align-items: center;
    width: 98.5%;
    height:auto;
   background:#FAF9F6;
  }
  .showmobile {
    display:inline;
  }
  .avatar, .nomobile { /*Pronounced like no-mobeel. Haha. Hilarious*/
   display:none;
 }
}