* {
  box-sizing: border-box;
}
main {
    height: 100%;
    width:100%;
    overflow: scroll;
    border: 4px solid purple;
    background-color: #FAF9F6;
    padding: 24px;
    box-shadow: 10px 10px purple;
    grid-column: span 3 / span 3;
    grid-row: span 5 / span 5;
    grid-column-start: 2;
    grid-row-start: 1;
}

body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
  font-size: 16.5px;
    color: rgb(69, 0, 69);
    font-family: Calibri, Arial, sans-serif;
}
html {
    background-color:rgb(244, 244, 244);
    gap: 0px;
}
img {
    max-width: 100%;
}
iframe {
    border:none;
}

a {
    color: purple;
}

.avatar {
    width: 100%;
    height:32.825%;
}
aside, nav {
    box-sizing: border-box;
    background-color:#FAF9F6;
    text-align: center;
    width: 100%;
    border: 4px solid purple;
    box-shadow: 10px 10px purple;

}
nav {
    grid-row: span 5 / span 5;

}
aside {
    grid-row: span 5 / span 5;
    grid-column-start: 5;
    grid-row-start: 1;
}
.wrapper {
    position: absolute;
    margin-top: 2.5%;
    margin-left: 5.5%;
    margin-right:5.5%;
    width: 90%;
    height: 90%;

}

.menu {
    padding: 12px;
    text-align: center;
}

/*aesthetics*/

.menu a {
    padding: 5px 5px;
    color: purple;
    margin-bottom: 6px;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;

}


h1, h2, h3, h4 {
    color: purple;
}
li, details {
  color: purple; 
}
li span, summary span {
  color: rgb(69, 0, 69);; 
}

h1 {
    font-size: 23px;
    background: purple;
    color: #FAF9F6;
    display: inline-block;
    padding: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    border-bottom: 1px dashed purple;
    padding-bottom: 4px;
    margin-top: 2rem;
}

th, td {
    padding: 6px 12px;
    vertical-align: top;
}
td {
    width:130px;
}

th {
    background: purple;
    color: black;
}
.showmobile {
    display:none;
}
hr {
    color:purple;
}

.menu a:hover, .active {
    background: purple;
    color: #FAF9F6;
}
@media only screen and (max-width: 800px) {
  .wrapper {
    position:absolute;
    width: 100%;
    margin:0px;
    top:0%;
    height: 100%;
    top: 0%;
    margin-top: 0px;


  }    body {
        width:100%;
        top:0px;
        margin:0px;
        grid-template-columns: 1fr;
        display: flex;
        flex-direction:column;
        gap:10px;
    }
    main {
        width:100%;
        height:auto;
        max-height:none;
        overflow: visible;

    }

 
  nav, .menu, .aside { /*Please keep ".aside" in because you want a second bar to the right later don't you.*/
    top: 0;
    justify-content:center;
    align-items: center;
    width: 100%;
    height:auto;
   background:#FAF9F6;
  }
  .showmobile {
    display:inline;
  }
  .avatar, .nomobile, hr, .menu br{ /*Pronounced like no-mobeel. Haha. Hilarious*/
   display:none;
 }
}