
.sideright {
    display:none;
} 


.content {
    float: right;
    width: 75%;
    height: 180%;
    max-height: 180%;
    overflow: scroll;
    border: 3px double purple;
    box-sizing: border-box;
    background-color: white;
    padding: 24px;
    
}

body, html {
    padding: 0;
    margin: 0;
    height: 80%;
    font-size: 16.25px;
    background-color: white;
    color: #000;
    font-family: Calibri, Arial, sans-serif;
    box-sizing: border-box;
}


img {
    max-width: 100%;
}

a {
    color: purple;
}

.avatar {
    width: 100%;
    height:32.825%;
}
.sidebar {
    text-align: center;
    float: left;
    height: 180%;
    width: 23.5%;
    border: 4px solid purple;
}

.wrapper {
    position: relative;
    top: 50%;
    margin:auto;
    margin-top: -200px;
    width: 65%;
    height: 75%;
}

.menu {
    padding: 24px;
    text-align: center;
}

.menu a {
    display: inline-block;
    padding: 8px 5px;
    color: purple;
    margin-bottom: 6px;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;

}

.menu a:hover {
    background: purple;
    color: #FFF;
}

h1, h2, h3, h4 {
    color: purple;
}
li {
  color: purple; 
}
li span {
  color: black; 
}

h1 {
    font-size: 20px;
    background: purple;
    color: #FFF;
    display: inline-block;
    padding: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 17px;
    border-bottom: 1px dashed purple;
    padding-bottom: 4px;
    margin-top: 2rem;
}

.border {
    padding: 2px;
    border: 1px solid purple;
}

th, td {
    padding: 6px 12px;
    vertical-align: top;
}

th {
    background: purple;
    color: black;
}

@media screen and (max-width: 800px) {
    .content {
        width:100%;
        height:auto;
        max-height:none;
        overflow: visible;
    }
  .wrapper {
    position:absolute;
    width: 100%;
    margin:0px;
    top:0%;
    height: 100%;

  }
  .sidebar, .menu {
    display: flex;
    top: 0;
    justify-content:center;
    align-items: center;
    width: 98.5%;
    height:auto;
   background:white;
  }

  .sideright, .avatar, .nomobile { /*Pronounced like no-mobeel. Haha. Hilarious*/
   display:none;
 }
}