body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
    padding: 24px;
}
html {
    padding-left:12rem;
    font-family: Calibri, Arial, sans-serif;
    font-size: 16.5px;
 color: rgb(69, 0, 69);
 background-color:#faf9f6

}   
.leftAside {
    grid-row: span 6 / span 6;
    border: 5px solid black;
}
main, .leftAside, .rightAside{
    background-color: #faf9f6;
    border: 5px solid rgb(69, 0, 69);
    box-shadow: 10px 10px rgb(69, 0, 69);

}
.active {
    background-color: rgb(69, 0, 69);
    color: white;
}
aside {
    text-align:center;
}
main {
    grid-column: span 3 / span 3;
    grid-row: span 6 / span 6;
 }
 .center{
    padding:1rem;
 }

.rightAside {
    grid-row: span 6 / span 6;
    grid-column-start: 5;
}
        h1 {
            margin-bottom:5px;
            padding-left:1rem;
            padding-top:20px;
            line-height:40px;
            padding-bottom:12px;
        }
        h2 {
        letter-spacing: 1px;
    font-size: 20px;
    border-bottom: 1px solid rgb(69, 0, 69);
    padding-bottom: 4px;
    margin-top: 1rem;

        }
       nav{
        font-weight:500;
        margin: 0;
        padding: 10px;
        border-bottom: 4px solid rgb(69, 0, 69);
        border-top: 4px solid rgb(69, 0, 69);

        }
        nav a  {

        color: rgb(69, 0, 69);
        text-decoration: none;
        padding:10px;
        }
        nav a:hover {
            color:white;
            background-color:rgb(69, 0, 69)
        }  
        .showmobile {
            display:none;
        }
        li {
            line-height:22px;
        }
@media only screen and (max-width: 800px) {
    html {
        padding:0px;
        margin:0px;
    }
   body, nav {
        width:100%;
        margin:0px;
        grid-template-columns: 1fr;
        display: flex;
        flex-direction:column;
    }
    main {
        width:100%;
        height:auto;
        max-height:none;
        overflow: visible;

    }
  .showmobile {
    display:inline;
  }
  .avatar, .nomobile, .leftAside {
   display:none;
 }
}
img {
    max-width: 100%;
}
a {
    color:purple;
}